In [2]:
# Modules de base
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from tqdm import tqdm
import pandas as pd
from utils import load_models_mps_sol, SolutionFromDict
import os

# Module relatif Ã  Gurobi
from gurobipy import *
import json

In [3]:
data_name = "toy_instance"

In [4]:
df = pd.read_csv(os.path.join("solution", data_name, "df_solution_json.csv"), index_col="index")

In [5]:
df

,benef,max_duration,max_project_per_employee,model_path_json
index,,,,
0,-59.0,0.0,4.0,solution/toy_instance/model/0.json
1,-65.0,1.0,3.0,solution/toy_instance/model/1.json
2,0.0,-0.0,0.0,solution/toy_instance/model/2.json
3,-65.0,2.0,2.0,solution/toy_instance/model/3.json
4,-20.0,0.0,1.0,solution/toy_instance/model/4.json
5,-37.0,0.0,2.0,solution/toy_instance/model/5.json
6,-49.0,0.0,3.0,solution/toy_instance/model/6.json
7,-30.0,1.0,1.0,solution/toy_instance/model/7.json
8,-55.0,1.0,2.0,solution/toy_instance/model/8.json
10,-42.0,2.0,1.0,solution/toy_instance/model/10.json

In [5]:
# Opening JSON file
with open(df.loc[1, "model_path_json"]) as json_file:
    sol = json.load(json_file)

In [6]:
# Opening JSON file
with open(data_name + '.json') as json_file:
    data = json.load(json_file)

In [7]:
sol_class = SolutionFromDict(data, sol)

In [26]:
sol_class.get_v()
print()

In [9]:
sol_class.list_job

['Job1', 'Job2', 'Job3', 'Job4', 'Job5']

In [10]:
sol_class.get_CA_per_project()

array([20.,  0., 15., 20., 10.])

In [24]:
sol_class.get_planning_employee("Emma")

[['Job4 with qualification C'],
 ['vacation'],
 ['Job3 with qualification C'],
 ['Job3 with qualification C'],
 ['Job5 with qualification C']]

In [21]:
sol_class.get_planning_project("Job5")

[['None'],
 ['None'],
 ['None'],
 ['None'],
 ['Olivia with qualification C', 'Emma with qualification C']]

In [22]:
data["staff"]

[{'name': 'Olivia', 'qualifications': ['A', 'B', 'C'], 'vacations': []},
 {'name': 'Liam', 'qualifications': ['A', 'B'], 'vacations': [1]},
 {'name': 'Emma', 'qualifications': ['C'], 'vacations': [2]}]